@model List<OfficeCraft.Models.Entities.Producto>

<h2>Carrito de Compras</h2>

@if (Model != null && Model.Any())
{
    <table>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>$@item.Precio.00</td>
                <td>@item.Existencia</td>
            </tr>
        }
    </table>
}
else
{
    <p>No hay productos en el carrito.</p>
}