<h2>Gracias por hacer tu pedido</h2>

<p>Le agradecemos en la confianza.</p>
<p>Su código de pedido es: @ViewBag.OrderCode</p>
<p>Puede pasar por su pedido en nuestras tiendas de 24 a 48 horas. Si no es el caso, deberá realizar su pedido nuevamente.</p>
