<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfficeCraft</title>
    <link rel="icon" href="@Url.Content("~/img/FavIcon.ico")" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OfficeCraft.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OfficeCraft</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="derechos-de-autor">
            <div class="overlap-group">
                <p class="text-wrapper">©2024 OfficeCraft Papelerías. Todos los derechos reservados.</p>
            </div>
        </div>
        <div class="texto">
            <div class="div">clientes@officecraft.com.mx</div>
            <div class="text-wrapper-2">+52 998-142-5314</div>
            <div class="text-wrapper-3">Contáctanos</div>
        </div>
        <div class="sguenos">
            <div class="icons">
                <img class="icons twiter" src="~/img/tw.jpg" alt="Twitter" />
                <div class="icons mail">
                    <div class="overlap-group-2">
                        <div class="ellipse"></div>
                        <img class="img" src="~/img/email.jpg" alt="Email" />
                    </div>
                </div>
                <img class="icons whatsapp" src="~/img/ws.jpg" alt="WhatsApp" />
                <img class="icons FB" src="~/img/fb.jpg" alt="Facebook" />
            </div>
            <div class="text-wrapper-4">Síguenos</div>
        </div>
        <img class="logo-officecraft" src="~/img/FavIcon.png" alt="OfficeCraft Logo" />
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
