@model IEnumerable<OfficeCraft.Models.Entities.Producto>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/img/FavIcon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="globals.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<img src="~/img/BannerOC.png" />
<h2>Productos</h2>
<div class="album py-5 bg-body-tertiary">
    <div class="container productos">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
            @foreach (var Item in Model)
            {
                <div class="col">
                    <div class="box">
                        <div class="card">
                                <div class="overlap-group"  method="post">
                                <svg class="line" width="246" height="2" viewBox="0 0 246 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H246" stroke="#AD0007" stroke-width="2" /></svg>
                                <svg class="img" width="246" height="2" viewBox="0 0 246 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H246" stroke="#AD0007" stroke-width="2" /></svg>
                                <a type="submit" asp-controller="ShoppingCart" asp-action="Index" class="btn addcar"><svg class="overlap" idth="29" height="27" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.706504 1.45707H4.4932L6.44262 7.00344L7.4777 10.3634V10.3718L8.75431 14.5168C8.75431 14.5252 8.76294 14.5337 8.76294 14.5421L9.5479 17.0831H9.24602C7.68472 17.0831 6.41673 18.3241 6.41673 19.8521C6.41673 21.3801 7.68472 22.621 9.24602 22.621H10.652C10.4104 23.0178 10.2638 23.4821 10.2638 23.9717C10.2638 25.4154 11.4627 26.5887 12.9378 26.5887C14.4128 26.5887 15.6118 25.4154 15.6118 23.9717C15.6118 23.4737 15.4738 23.0178 15.2236 22.621H20.3559C20.1144 23.0178 19.9677 23.4821 19.9677 23.9717C19.9677 25.4154 21.1668 26.5887 22.6417 26.5887C24.1168 26.5887 25.3157 25.4154 25.3157 23.9717C25.3157 23.4737 25.1777 23.0178 24.9276 22.621H26.0921C26.4457 22.621 26.739 22.334 26.739 21.9879C26.739 21.6417 26.4457 21.3547 26.0921 21.3547H9.23733C8.39203 21.3547 7.70197 20.6794 7.70197 19.8521C7.70197 19.0247 8.39203 18.3494 9.23733 18.3494H10.4104H13.7745H21.2789H24.643C24.9276 18.3494 25.1777 18.1637 25.264 17.902L26.2991 14.5421C26.2991 14.5337 26.2991 14.5337 26.2991 14.5252L28.6193 6.99499C28.6798 6.80083 28.6453 6.59822 28.5159 6.43782C28.3865 6.27743 28.2053 6.18456 27.9983 6.18456H23.4181C23.4181 6.18456 23.4181 6.18456 23.4095 6.18456H17.518H11.6267H11.618H7.50358L5.55416 0.629758C5.46791 0.3765 5.21776 0.199219 4.94174 0.199219H0.706504C0.352845 0.199219 0.0595703 0.486245 0.0595703 0.832364C0.0595703 1.17848 0.352845 1.45707 0.706504 1.45707ZM14.3179 23.9634C14.3179 24.7062 13.6968 25.3141 12.9378 25.3141C12.1788 25.3141 11.5577 24.7062 11.5577 23.9634C11.5577 23.2204 12.1788 22.6126 12.9378 22.6126C13.6968 22.6126 14.3179 23.2204 14.3179 23.9634ZM24.0305 23.9634C24.0305 24.7062 23.4095 25.3141 22.6503 25.3141C21.8913 25.3141 21.2702 24.7062 21.2702 23.9634C21.2702 23.2204 21.8913 22.6126 22.6503 22.6126C23.4095 22.6126 24.0305 23.2204 24.0305 23.9634ZM25.2122 13.6979H22.7366L23.3059 10.8107H26.1006L25.2122 13.6979ZM21.4169 13.6979H18.1822V10.8107H21.9948L21.4169 13.6979ZM18.1822 17.0747V14.9642H21.1668L20.7528 17.0747H18.1822ZM14.3179 17.0747L13.9039 14.9642H16.8884V17.0747H14.3179ZM10.2465 14.9642H12.5841L12.9982 17.0747H10.8935L10.2465 14.9642ZM18.1822 9.54444V7.43397H22.659L22.245 9.54444H18.1822ZM16.8884 9.54444H12.8257L12.4116 7.43397H16.8884V9.54444ZM16.8884 10.8107V13.6979H13.6537L13.0844 10.8107H16.8884ZM12.334 13.6979H9.85837L8.96995 10.8107H11.7647L12.334 13.6979ZM24.1771 17.0747H22.0724L22.4865 14.9642H24.824L24.1771 17.0747ZM26.4975 9.54444H23.5647L23.9788 7.43397H27.1444L26.4975 9.54444ZM11.0919 7.43397L11.5059 9.54444H8.57317L7.92624 7.43397H11.0919Z" fill="white" /></svg></a>
                                <p class="text-wrapper">@Html.DisplayFor(x => Item.Nombre)</p>
                                <div class="div productotext">$@Html.DisplayFor(x => Item.Precio).00</div>
                                <img class="image" src="/@Html.DisplayFor(x => Item.UrlImagenPath)" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
