@model IEnumerable<OfficeCraft.Models.Entities.Producto>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/img/FavIcon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<img src="~/img/BannerOC.png" />
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var Item in Model)
            {
             <div class="col">
                 <div class="card shadow-sm">
                     <img src="/@Html.DisplayFor(x => Item.UrlImagenPath)" class="bd-placeholder-img card-img-top" width="100%" height="225" />
                     <div class="card-body">
                         <h5 class="card-title">@Html.DisplayFor(x => Item.Nombre)</h5>
                         <p class="card-text"> @Html.DisplayFor(x => Item.Precio) </p>
                         <a href="#" class="btn btn-primary">Go somewhere</a>
                     </div>
                 </div>
             </div>
            }
            </div>
        </div>
    </div>
<footer class="footer">
          <div class="overlap-8">
            <div class="overlap-group-4">
              <p class="text-wrapper-15">©2024 OfficeCraft Papelerías. Todos los derechos reservados.</p>
            </div>
            <div class="horario">
              <div class="horario-2">
                <div class="s-bado-domingo">Sábado &amp; Domingo:<br />Cerrado</div>
                <img class="vector" src="img/vector.svg" />
              </div>
              <div class="horario-3">
                <p class="lunes-viernes">Lunes &amp; Viernes:<br />8:30am - 9:00pm</p>
                <img class="vector" src="img/vector-2.svg" />
              </div>
              <div class="text-wrapper-16">Horario</div>
            </div>
            <div class="texto">
              <div class="text-wrapper-17">Ubicación</div>
              <div class="text-wrapper-18">Contacto</div>
              <div class="text-wrapper-19">Servicios</div>
            </div>
            <img class="icons" src="img/icons.png" />
            <img class="logo-officecraft" src="img/logo-2-officecraft.png" />
          </div>
        </footer>